Repository forummlcb/topdup: changes, and which Drone steps are due for each by the changed paths.
All: staging-backend, production-backend, staging-ml-api, production-ml-api, staging-frontend, production-frontend

Path conditions:
  staging-backend: any of: modules/web_app/backend/**, but not: .gitignore
  production-backend: any of: modules/web_app/backend/**, but not: .gitignore
  staging-ml-api: any of: modules/ml_api/**, modules/ml/**, but not: .gitignore
  production-ml-api: any of: modules/ml_api/**, modules/ml/**, but not: .gitignore
  staging-frontend: any of: modules/web_app/frontend/**, but not: .gitignore
  production-frontend: any of: modules/web_app/frontend/**

Update config.yaml
  modules/crawlers/src/libs/config/config.yaml
Due: none

Add custom headers for backend
  modules/web_app/backend/nomad.hcl
Due: staging-backend, production-backend

Escape double quotes in Nomad config
  modules/web_app/backend/nomad.hcl
  modules/web_app/backend/nomad.prod.hcl
Due: staging-backend, production-backend

Optimize the Levenshtein query
  modules/ml_api/main.py
  modules/ml_api/models.py
Due: staging-ml-api, production-ml-api

Resolve conflict
  .drone.yml
Due: none

Adjust Nomad config for ml-api
  modules/ml_api/nomad.hcl
  modules/ml_api/nomad.prod.hcl
Due: staging-ml-api, production-ml-api

Update response model
  modules/ml_api/main.py
Due: staging-ml-api, production-ml-api

update(UX)
  modules/web_app/frontend/src/components/auth/auth.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.js
  modules/web_app/frontend/src/components/dup-report/pagination.js
Due: staging-frontend, production-frontend

update layout for info pages
  modules/web_app/frontend/src/components/about.js
  modules/web_app/frontend/src/components/address.js
  modules/web_app/frontend/src/components/auth/login.js
  modules/web_app/frontend/src/components/contact.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/footer/footer.js
  modules/web_app/frontend/src/components/privacy-policy.js
  modules/web_app/frontend/src/components/term-condition.js
Due: staging-frontend, production-frontend

update(auth): display error when sign up
  modules/web_app/frontend/src/components/auth/auth.js
  modules/web_app/frontend/src/components/auth/signup.js
  modules/web_app/frontend/src/components/auth/vaidated-signup-form.js
Due: staging-frontend, production-frontend

Fix next is undefined
  modules/web_app/backend/src/controllers/dup-compare.js
Due: staging-backend, production-backend

Update signup.js
  modules/web_app/frontend/src/components/auth/signup.js
Due: staging-frontend, production-frontend

update(dupCompare): fix typo
  modules/web_app/backend/src/controllers/dup-compare.js
Due: staging-backend, production-backend

Add filer duplicate posts & count posts
  modules/crawlers/src/libs/docbao_crawler.py
  modules/crawlers/src/libs/postgresql_client.py
Due: none

add demo notebook
  .gitignore
  modules/dashboards/TfIDF-FAISS-demo.ipynb
Due: none

Add changes to crawler module
  modules/crawlers/src/crawl.py
  modules/crawlers/src/crawl_rework.py
  modules/crawlers/src/libs/config.py
  modules/crawlers/src/libs/config/test_config.yaml
  modules/crawlers/src/libs/docbao_crawler.py
  modules/crawlers/src/libs/postgresql_client.py
  modules/crawlers/src/libs/utils.py
Due: none

Add the JsonExporter class
  modules/crawlers/src/crawl_rework.py
  modules/crawlers/src/libs/docbao_crawler.py
  modules/crawlers/src/libs/json_exporter.py
Due: none
