Repository forummlcb/topdup: changes, and which Drone steps are due for each by the changed paths.
All: staging-backend, staging-ml-api, staging-frontend

Path conditions:
  staging-backend: any of: modules/web_app/backend/**, but not: .gitignore
  staging-ml-api: any of: modules/ml_api/**, modules/ml/**, but not: .gitignore
  staging-frontend: any of: modules/web_app/frontend/**, but not: .gitignore

fix warnings
  modules/web_app/frontend/package.json
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

fix warnings
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

Update Nomad config, Drone config for Backend prod
  .drone.yml
  modules/web_app/backend/nomad.prod.hcl
Due: staging-backend

Add nomad config for Backend and ML
  .drone.yml
  modules/ml_api/nomad.prod.hcl
  modules/web_app/backend/nomad.hcl
  modules/web_app/backend/nomad.prod.hcl
Due: staging-backend, staging-ml-api

update Drone
  .drone.yml
Due: none

Adjust ml-api's requirements.txt
  .drone.yml
  requirements.txt
Due: none

Init ml-api build in staging
  modules/ml_api/Dockerfile
Due: staging-ml-api

Fix a syntax error in requirement.txt
  modules/ml_api/Dockerfile
  requirements.txt
Due: staging-ml-api

Adjust requierments
  requirements.txt
Due: none

trigger build for ml-api
  modules/ml_api/Dockerfile
Due: staging-ml-api

Trigger Backend build
  modules/web_app/backend/Dockerfile
Due: staging-backend

Update Nomad, Drone config
  .drone.yml
  modules/ml_api/nomad.hcl
  modules/ml_api/nomad.prod.hcl
  modules/web_app/backend/nomad.hcl
  modules/web_app/backend/nomad.prod.hcl
Due: staging-backend, staging-ml-api

Add standard logger to data_wranglers
  modules/data_wranglers/datalayer.py
  modules/data_wranglers/docbao_processor.py
  modules/data_wranglers/utils.py
  modules/ml/cronjobs.py
Due: staging-ml-api

WIP: rewrite test
  modules/ml/tests/retriever/test_retriever.py
Due: staging-ml-api

Temporarily disable tests
  modules/ml/tests/retriever/test_retriever.py
Due: staging-ml-api

Add @victurtle to review data_wranglers code
  .isort.cfg
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

update Prod pipeline
  .drone.yml
Due: none

Update Nomad config for ml-api in Prod
  .drone.yml
  modules/ml_api/nomad.prod.hcl
Due: staging-ml-api

mobile-mode: change nav bar, add sticky vote panel
  modules/web_app/frontend/package.json
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

update(dupCompare): add startPoint and limit
  modules/web_app/backend/src/controllers/similarity-report.js
Due: staging-backend

update(dupReport): fetch data by page, save current displayed reports in windows object
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.css
  modules/web_app/frontend/src/components/dup-report/dup-report.js
  modules/web_app/frontend/src/components/dup-report/dup-report.service.js
Due: staging-frontend

update(dupCompare): fix align error
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

fix(dupReport): useId => userId
  modules/web_app/backend/src/controllers/similarity-report.js
Due: staging-backend

update(dupReport): change vote layout, fix error when voting
  modules/web_app/frontend/src/components/App/App.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.js
Due: staging-frontend

fix(dupReport): fix vote
  modules/web_app/backend/src/controllers/similarity-report.js
Due: staging-backend

update(dupCompare): change vote layout
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.css
  modules/web_app/frontend/src/components/dup-report/dup-report.js
Due: staging-frontend

update layout vote block
  modules/web_app/frontend/src/components/App/App.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.css
Due: staging-frontend

clean code, remove warnings
  modules/web_app/frontend/public/manifest.json
  modules/web_app/frontend/src/components/auth/vaidated-signup-form.js
  modules/web_app/frontend/src/components/auth/validated-login-form.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/header-row.js
  modules/web_app/frontend/src/components/error/index.js
  modules/web_app/frontend/src/components/footer/footer.js
Due: staging-frontend

update(dupCompare): add option for ML custom header
  modules/web_app/backend/.env.example
  modules/web_app/backend/src/controllers/dup-compare.js
Due: staging-backend

Add blacklist files
  .drone.yml
Due: none

Update Nomad job for crawler and data_warngler
  modules/crawlers/Dockerfile.nomad
  modules/crawlers/nomad.hcl
  modules/data_wranglers/nomad.hcl
Due: none

Update config.yaml
  modules/crawlers/src/libs/config/config.yaml
Due: none
