Repository forummlcb/topdup: changes, and which Drone steps are due for each by the changed paths.
All: staging-backend, staging-ml-api, staging-frontend

staging-backend:
  steps:
  - name: build backend images
    image: plugins/ecr
    pull: if-not-exists
    settings:
      tags: ${DRONE_COMMIT_SHA:0:6}
      access_key:
        from_secret: ciuser_key_id
      secret_key:
        from_secret: ciuser_secret_access_key
      repo: topdup-prod-backend
      registry: ${REGISTRY}
  ...

staging-ml-api:
  steps:
  - name: build ml-api images
    image: plugins/ecr
    pull: if-not-exists
    settings:
      tags: ${DRONE_COMMIT_SHA:0:6}
      access_key:
        from_secret: ciuser_key_id
      secret_key:
        from_secret: ciuser_secret_access_key
      repo: topdup-prod-ml
      registry: ${REGISTRY}
  ...

staging-frontend:
  steps:
  - name: build Frontend package
    image: node:15.11.0-alpine
    pull: if-not-exists
    environment:
      BACKEND_URL: https://stag.alb.topdup.org
    commands:
    - apk add gettext
    - cat modules/web_app/frontend/src/api.js | envsubst > modules/web_app/frontend/src/api.js
    - npm install
  ...

Adjust Drone pipeline for frontend
  .drone.yml
Due: none

Use standardized logger
  modules/ml/cronjobs.py
  modules/ml/document_store/faiss.py
  modules/ml/document_store/sql.py
  modules/ml/retriever/retriever.py
  modules/ml/utils.py
Due: staging-ml-api

Major change on logic, conduct search only on local database
  modules/ml/cronjobs.py
Due: staging-ml-api

Set `updated` column with latest timestamp
  modules/ml/document_store/sql.py
Due: staging-ml-api

Format some warning messages
  modules/ml/retriever/retriever.py
Due: staging-ml-api

`vector_id` should be None when `add_vectors` is False
  modules/ml/document_store/faiss.py
Due: staging-ml-api

ignore package-lock.json
  modules/web_app/backend/.gitignore
  modules/web_app/frontend/.gitignore
  modules/web_app/frontend/package-lock.json
Due: staging-backend, staging-frontend

delete package-lock.json
  modules/web_app/backend/package-lock.json
Due: staging-backend

Should map to app port 5000
  modules/web_app/backend/nomad.hcl
Due: staging-backend

Update drone file
  .drone.yml
  modules/ml_api/main.py
  modules/web_app/frontend/README.md
Due: staging-ml-api, staging-frontend

add env variable for backend api url
  modules/web_app/frontend/.env.example
  modules/web_app/frontend/.gitignore
  modules/web_app/frontend/src/api.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/footer/footer.js
  modules/web_app/frontend/src/shared/constants.js
Due: staging-frontend

Update main.py
  modules/ml_api/main.py
Due: staging-ml-api

Add double quotes to fix syntax error
  modules/ml_api/nomad.hcl
Due: staging-ml-api

Update nomad configuration and drone pipeline
  .drone.yml
  modules/ml_api/nomad.hcl
  modules/web_app/backend/nomad.hcl
Due: staging-backend, staging-ml-api

Fix a syntax error
  modules/ml_api/nomad.hcl
Due: staging-ml-api

remove package-lock and update env setting
  modules/web_app/backend/.env.example
  modules/web_app/backend/.gitignore
  modules/web_app/backend/package-lock.json
  modules/web_app/frontend/.env.example
  modules/web_app/frontend/.gitignore
  modules/web_app/frontend/package-lock.json
  modules/web_app/frontend/src/api.js
Due: staging-backend, staging-frontend

update health-check api
  modules/web_app/backend/src/controllers/health-check.js
  modules/web_app/backend/src/routes/health-check.js
  modules/web_app/backend/src/routes/index.js
Due: staging-backend

update
  modules/web_app/backend/src/routes/index.js
Due: staging-backend

update
  modules/web_app/backend/src/controllers/health-check.js
Due: staging-backend

Update variables for staging-frontend
  .drone.yml
Due: none

Update variables for staging-frontend
  .drone.yml
  modules/web_app/frontend/README.md
Due: staging-frontend

dupReport: mobile version
  modules/web_app/frontend/.env.example
  modules/web_app/frontend/package.json
  modules/web_app/frontend/public/logo192.png
  modules/web_app/frontend/src/components/App/App.css
  modules/web_app/frontend/src/components/auth/login.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/dup-report.css
  modules/web_app/frontend/src/components/dup-report/dup-report.js
  modules/web_app/frontend/src/components/dup-report/pagination.js
  modules/web_app/frontend/src/index.css
  modules/web_app/frontend/src/index.js
Due: staging-frontend

fix warnings
  modules/web_app/frontend/src/components/App/App.js
  modules/web_app/frontend/src/components/about.js
  modules/web_app/frontend/src/components/auth/login.js
  modules/web_app/frontend/src/components/auth/vaidated-signup-form.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dub-report-list.js
  modules/web_app/frontend/src/components/dup-report/header-row.js
  modules/web_app/frontend/src/components/navigation-bar/navigation-bar.jsx
  modules/web_app/frontend/src/index.css
Due: staging-frontend

Update frontend pipeline
  .drone.yml
  modules/web_app/frontend/README.md
Due: staging-frontend

mobile-mode: change nav bar, add sticky vote panel
  modules/web_app/frontend/package.json
  modules/web_app/frontend/src/components/auth/auth.css
  modules/web_app/frontend/src/components/auth/login.js
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/dup-report/dup-report.css
  modules/web_app/frontend/src/components/dup-report/dup-report.js
  modules/web_app/frontend/src/components/nav-bar-mobile/nav-bar-mobile.css
  modules/web_app/frontend/src/components/nav-bar-mobile/nav-bar-mobile.jsx
  modules/web_app/frontend/src/components/navigation-bar/navigation-bar.jsx
  modules/web_app/frontend/src/index.css
Due: staging-frontend

fix warnings
  modules/web_app/frontend/package.json
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

Fix wrong Nomad endpoint
  .drone.yml
  modules/web_app/backend/Dockerfile
Due: staging-backend

Add one more Github event to the trigger
  .drone.yml
  modules/web_app/backend/Dockerfile
Due: staging-backend

Update CODEOWNERS
  CODEOWNERS
Due: none

update(dupCompare): udpate ux on desktop and mobile
  modules/web_app/frontend/src/components/dup-compare/dup-compare.css
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
  modules/web_app/frontend/src/components/footer/footer.css
  modules/web_app/frontend/src/index.css
  modules/web_app/frontend/src/shared/constants.js
Due: staging-frontend

fix warnings
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

mobile-mode: change nav bar, add sticky vote panel
  modules/web_app/frontend/package.json
  modules/web_app/frontend/src/components/dup-compare/dup-compare.js
Due: staging-frontend

Path conditions:
  staging-backend: any of: modules/web_app/backend/**, but not: .gitignore
  staging-ml-api: any of: modules/ml_api/**, modules/ml/**, but not: .gitignore
  staging-frontend: any of: modules/web_app/frontend/**, but not: .gitignore
